{

    "database": {
        "db_name": "aprixia",
        "db_user": "aprixia",
        "db_password": "passwordo",
        "db_host": "172.24.96.1",
        "db_port": "5432",
        "db_type": "postgres"
    }
}
